*{padding:0;margin:0;}

body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	background-color:#CCC;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	background-color:#fff;
	color:#000;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.record-button {
	top:40px;
	left:40px;
}

.stop-button {
	top:40px;
	left:120px;
}

.add-button {
	top:40px;
	left:200px;
}

.background-button {
	top:40px;
	left:280px;
}

.draw-button {
	top:40px;
	left:360px;
}

.undo-button {
	top:40px;
	left:440px;
}

.redo-button {
	top:40px;
	left:520px;
}

.draw-options-button {
	top:40px;
	left:600px;
}

.my-float{
	margin-top:22px;
}

.float.using {
    color: #f00;
}

.floating-div {
    position:fixed;
    background-color:#fff;
    color:#000;
    /* box-shadow: 2px 2px 3px #999; */
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.floating-div input {
    padding: 10px;
    margin: 50px;
}
